/*.label-status {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: #ffffff;
    width: fit-content;
}*/
.label-status input {
    margin-left: 1.5rem;
}
.vandaag-btn {
    /*font-family: monospace;*/
    margin-left: 1rem;
    padding: .3rem .8rem;
    font-size: .9rem;
    border-radius: 4px;
    border: none;
    background-color: var(--accent);
    background-color: rgb(214, 214, 214);
    color: #000000;
    cursor: pointer;
}
.bereken-btn {
    margin: 1rem 0 2rem 0;
    font-family: var(--mono-font);
    padding: .3rem 1.8rem;
    font-size: 1.2rem;
    border-radius: 4px;
    border: none;
    background-color: rgb(214, 214, 214);
    background-color: var(--accent);
    color: #000000;
    cursor: pointer;
}
.sectie-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}
.sectie-header {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(221, 221, 221, 0.205);
    color: var(--accent);
}
.overzicht {
    margin-bottom: 2rem;
    padding: 1rem;
    background: var(--calc-bg);
    border-radius: var(--radius);
} 
.kapitaal-groep, .rente-groep {
    display: flex;
    flex-direction: column  ;
    gap: 1.5rem;
    padding: 1rem;
    background: var(--calc-bg);
    border-radius: var(--radius);
}
.sectie1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}