/* Compact responsiveness */
@media (max-width:1700px){
    .table-wrapper{ width:90%; }
}
@media (max-width:1250px){
    .lening-overzicht{ column-count:2; }
    .wrapper{ width:94%; padding:.75rem; }
    .table-wrapper{ width:94%; padding:.75rem; }
    section{ flex-direction:column; gap:1rem; }
    fieldset{ width:100%; }
    .table-header th, .table-inhoud td{ font-size:.85rem; white-space:nowrap; }
    .circles-wrapper{ width:120px; height:120px; }
    .overzicht-inhoud { flex-direction:column; gap:1rem; }
    footer { display: none; }
}
@media (max-width:880px){
    .lening-overzicht{ column-count:1; }
    .top-header a { font-size: .9rem; }
    /*.wrapper{ width:98%; padding:.5rem; }*/
    .table-wrapper{ width:98%; padding:.75rem; }
    .table-header th, .table-inhoud td{ font-size:.75rem; }
    .summary-output{ flex-direction:column; }
    header, footer{ flex-direction:column; align-items:center; gap:.5rem; }
    header h1{ font-size: 2rem;}
    .datum-sectie{ flex-direction:column; gap: 0;}
    .invoer{ width:6rem; }
    .rente-type{ font-size:.8rem; }
    .top-row{ flex-direction:column; align-items:flex-start; gap:1.5rem; }
    .sectie-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .kapitaal-groep, .rente-groep {
        width: 100%;
    }
}
@media (max-width:650px){
    .table-header th, .table-inhoud td{ font-size:.65rem; }
    /*.circles-wrapper{ width:100px; height:100px; }*/
    .top-header a { font-size: .65rem; }
    header h1{ font-size: 1.5rem; }
    :root {
        --ht-top-header: 2.5rem;
    }
    .invoer{ width:5rem; font-size:.9rem; }
    .rente-type{ font-size:.7rem; }
    
}

/* Print styles */
@media print{
    .no-print{ display:none; }
    .on-print{ display:block; }
    body{ background:transparent; color:#000; }
    .wrapper{ width:100%; margin:0; padding:0; }
    .table-wrapper{
        max-width:100%;
        width:100%;
        margin:0;
        padding:0;
        background:transparent;
        box-shadow:none;
    }
    table{ table-layout:auto ; width:100%; }
    .table-header th{ font-size:0.7rem ; color:#000; border-color:#000;}
    header, footer{ display:none; }
    .lening-overzicht{
        column-count:1;
        background:transparent;
        box-shadow:none;
        padding:0;
    }
}