/* Compact responsiveness */
@media (max-width:1400px){
    section{ flex-direction:column; gap:1rem; }
    fieldset{ width:100%; }
    footer { display: none; }
    .simulator, .calculator, .generator, .invoice-content{ width:85%; }
    .table-header th, .table-inhoud td{ font-size:.85rem; white-space:nowrap; }
    .circles-wrapper{ display: none; }
    .overzicht-inhoud { flex-direction:column; gap:1rem; }
}
@media (max-width:1050px){
    header, footer{ flex-direction:column; align-items:center; gap:.5rem; }
    header h1{ font-size: 2rem;}
    :root { --top-fixed-position: .5rem; }
    .theme-btn-popup{ width: 20px; height: 20px; }
    .theme-popup{ gap: .75rem; padding-top: .7rem;}
    .top-header {flex-direction: column; gap:0; display: none; position: fixed; top: 3.5rem; left: 0; right: 0; width: 17.5rem; background: rgb(52, 61, 92); z-index: 1003; }
    .top-header.active { display: flex; }
    .top-header a { text-align: left; padding: .75rem; }
    .top-header a:not(.active):hover { background: rgb(73, 82, 117); }
    .annual-report-table thead { top: 0; }
    .table-header th, .table-inhoud td{ font-size:.75rem; }
    .summary-output{ flex-direction:column; }
    .datum-sectie{ flex-direction:column; gap: 0;}
    .invoer{ width:6rem; }
    .rente-type, .periode-eenheid{ font-size:.8rem; }
    .top-row{ flex-direction:column; align-items:flex-start; gap:1.5rem; }
    .country-list{ right: 0; }
    .sectie-wrapper { flex-direction: column; align-items: center; }
    .checkbox-group { width: 100%; }
    .results-section,
    .meter-sections { flex-direction:column; gap:1rem; }
    .results-section { min-height: unset; align-items: unset; }
}
@media (max-width:750px){
    header h1{ font-size: 1.5rem; }
    label{ font-size:.65rem; }
    .interval-input-container label{ font-size: .9rem;}
    .table-header th, .table-inhoud td{ font-size:.65rem; }
    .simulator, .calculator, .generator, .invoice-content{ width:100%; padding:.5rem; border-radius: 0; box-shadow: none; background: transparent;}
    .datums { flex-direction:column; align-items: flex-start; gap:.5rem; }
    .datums p span:first-child { font-size:.65rem; }
    .datums p span:nth-child(2) { font-size:.75rem; }
    .output-fields h2{ font-size:1.1rem; }
    .output-fields p{ font-size:.75rem; }
    .output-groep p span:first-child{ font-size:1rem; }
    .info-box .output-overview, .info-box .output-tab01{ font-size: .85rem; }
    .overzicht-header h2{ font-size:1.1rem; }
    .overzicht-inhoud p span:first-child { font-size:.75rem; }
    .overzicht-inhoud p span:nth-child(2) { font-size:.85rem; }
    .uitleg-tekst{ font-size:.75rem; }
    .kies-datum { font-size: 1rem; }
    .sectie-header p span:first-child { font-size: .8rem; }
    .sectie-header p span:nth-child(2) { font-size: .9rem; }
    .invoer{ width:5rem; font-size:.9rem; }
    .rente-type, .periode-eenheid{ font-size:.7rem; }
    .select-columns-header { flex-direction: column; align-items: flex-start; }
    .billing-period-result .grand-total span,
    .billing-period-months .billing-period-months-label h3,
    .billing-period-months .billing-period-months-label span { font-size: 1rem; }
    .billing-period-result, .billing-period-container { flex: 1 1 100%; }
    .billing-period-container { padding: .5rem; }
    .input-group.teller input { width:6.5rem; font-size:.9rem; }
    .result-row { font-size:.9rem; }
    .result-row span.total-ht-all, .result-row span.tax-item-total { font-size:1rem; }
    .invoice-section h3 { font-size:1.1rem; }
}

/* Print styles */
@media print{
    :root { --text-color: #000; --label-color: #000; --output-fields-color: #7381af; --accent: #7381af; --input-color: #000; }
    :root.theme-light-orange { --accent-plus: #7e92c0; }
    body{ background:transparent; color:#000; }
    header, footer{ display:none; }
    table{ table-layout:auto ; width:100%; }
    .no-print{ display:none; }
    .on-print{ display:block; }
    .lang-select { display: none; }
    .simulator, .calculator, .generator{ width:100%; margin:0; padding:0; box-shadow:none; }
    .overzicht, .output-sectie, .output-fields { padding: 0; }
    .table-header th{ font-size:0.7rem ; color:#000; border-color:#000; }
    .lening-overzicht{ padding:0; list-style-type: none; column-count: 2; }
    .lening-overzicht li, .lening-overzicht li span{ color:#000; font-family: 'cambria', serif; font-size: .9rem; }
    .lening-overzicht li{ color: #929292; padding: .2rem 0; }
    .lening-overzicht li span{ font-weight: bold; margin-left: .5rem; }
    .annual-report-table{ border-collapse: collapse; }
    .annual-report-table thead { position: static; border-bottom: 1px solid #7a7a7a; background: transparent; }
    .annual-report-table tbody tr { border-bottom: 1px solid #d3d3d3; background: transparent; }
    .annual-report-table tbody tr:hover { background: unset; }
    .annual-report-table tbody td { color: #4e4e4e; }
    .invoice-section{ border-left: 4px solid var(--accent-plus); padding-left: .5rem; margin-bottom: 1rem; }
    .invoice-content{ box-shadow: none; }
    input[type="date"]::-webkit-calendar-picker-indicator {display: none; }
}