/* Compact responsiveness */
@media (max-width:1200px){
    .wrapper{ width:80%; }
    section{ flex-direction:column; gap:1rem; }
    fieldset{ width:100%; }
    .table-header th, .table-inhoud td{ font-size:.85rem; white-space:nowrap; }
}
@media (max-width:800px){
    .wrapper{ width:94%; padding:.75rem; }
    input[type="number"], .invoer{ width:5.25rem; }
}

/* Print styles */
@media print{
    .no-print{ display:none; }
    .on-print{ display:block; }
    body{ background:transparent; color:#000; }
    .wrapper{ width:100%; margin:0; padding:0; }
    table{ table-layout:auto ; width:100%; }
    .table-header th{ font-size:0.7rem ; color:#000; border-color:#000;}
    header, footer{ display:none; }
    .afdrukken{ display:none; }
}