.simulator{
    max-width:var(--max-width);
    width:clamp(320px, 60%, 950px);
    margin:2rem auto 0;
    padding:1rem 1rem 0 1rem;
    background: var(--glass);
    opacity: .98;
    border-radius:var(--radius-wrapper);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
.top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}

/* bank name input */
.top-row input{
    padding: .3rem .5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid var(--border);
    font-family: var(--font-mono);
    color: #ffffff;
    background-color: var(--input-bg);
}

/*.currency-input select{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}*/
.top-row span{
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
}
/* Buttons */
.import-export-buttons{
    
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.import-export-buttons button{
    min-width: 7.5rem;
    font-family: var(--font-mono);
    font-size: .9rem;
    padding: .35rem .8rem;
    background: var(--import-export-bg);
    border-top: 2px solid rgba(139, 139, 139, 0.5);
    border-left: 2px solid rgba(139, 139, 139, 0.5);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-radius:4px;
    color: var(--button-color);
    font-weight: bold;
    transition: background-color 0.3s, filter 0.3s;
}

.import-export-buttons button:hover{ cursor: pointer; filter: brightness(0.9); }

/* Form section */
.main-section{
    margin-bottom: 1.5rem ;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    /*align-items: center;*/
}
.header-row-output{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.header-row-output h2, 
.header-row-inputs h2,
.output-fields h2,
.overzicht-header h2{
    font-family: 'cambria', serif;
    letter-spacing: .1rem;
    font-size: 1.5rem;
}
.header-row-output span{
    font-family: var(--font-mono);
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--accent-plus);
}
.header-row-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* margin-bottom: 1rem;*/
}
.header-row-inputs h2{
    color: var(--text-color);
}
.output-fields h2{
    color: var(--label-color);
}
.header-row-inputs span{
    font-family: var(--font-mono);
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--today-color);
}
.input-fields{
    /*flex:1 1 auto;*/
    margin:0;
    /*padding:1rem;*/
    border-radius:var(--radius);
    /*border: 1px solid rgba(139, 139, 139, 0.26);*/
    width:100%;
    /*max-width: 800px;*/
    /*background:var(--card-bg);*/
    /*color:inherit;*/
    /*min-width:600px;*/
}
.form-inhoud{
    border-top: 1px solid var(--border);
    padding-top:1rem;
    display:flex;
    flex-direction:column;
    gap:.5rem;
}
.summary-output{
    width: 100% ;
    display:flex;
    flex-direction:row;
    gap:1rem;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom: 1rem;
}
.output-fields{
    flex:1;
    margin:0;
    padding:1rem;
    border-radius:var(--radius);
}
.card-light{ 
    /*background: linear-gradient(180deg,#8b8b8bc7 0%, #5e5e5e40 100%); color:var(--accent);
    background: linear-gradient(180deg,#2b2b2b 0%, #444 100%); color:var(--accent);*/
    background: transparent;
} /*color:#2e2e2ef5;}*/
.card-dark{ 
    background: var(--card-bg);
}
.info-box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /*height: 11rem;*/
    /*font-size: 1.15rem;*/
    /*background: var(--glass);*/
    border-top: 1px solid var(--border);
    padding-top: 1rem;
    /*padding:.8rem;*/
    border-radius:4px;
    /*color:#ffffff;*/
}
.info-box p{
    margin:0;
    font-size:1rem;
    color:var(--label-color);
}
.info-box .output-overview, .info-box .output-tab01{
    font-family: var(--font-mono);
    margin-left:0.5rem;
    font-size:1rem;
    /*font-weight: bold;*/
    color:var(--output-fields-color);
}
/* Fieldset variants */

/* Form elements */
label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: var(--text-color);
    width: fit-content;
}
input , select{
    width: 10rem;
    font-family:var(--font-mono);
    font-size:1rem;
    padding:.3rem .5rem;
    border-radius:4px;
    border:1px solid var(--border);
    background-color: var(--input-bg);
    color:var(--input-color); 
    /*outline:none;*/
}
select, .rente-type, .periode-eenheid{ 
    font-size: .9rem;
    width: fit-content;
    appearance: none; /* Verwijder standaard pijl */
    background-image: var(--select-bg-image);
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: .8rem;
    padding-right: 2rem; /* Ruimte voor de pijl */
}
/* Opties in dropdown (ondersteuning kan verschillen per browser) */
select option {
    background-color: #e7e7e7; /* dropdown items achtergrond */
    color: #000000; 
}

/*.rente-type:focus{
    outline: none;
}*/

.invoer {
    width: 8rem;
    margin-left: .5rem;
}
input[type="date"] {
    width: fit-content;
    accent-color: var(--calendar-accent);
    color: var(--input-color);
    background-color: var(--input-bg);
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    font-family: var(--font-mono);
    font-size: 1rem;
}

input[type="date"]:focus {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}
input[type="date"] {
    color-scheme: var(--calendar-accent);
}
.datums {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}
.datums p{
    margin:0;
}
.datums p span:first-child{
    color: var(--text-color);
    font-size:1rem;
}
.datums p span:nth-child(2){
    font-weight: bold;
    padding: .35rem .5rem;
    border: 1px solid var(--accent);
    border-radius:4px;
    background: var(--input-bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--end-date-color);
    font-size: .9rem;
}
.eind-datum-hidden {
    display: none;
}   
/*input:disabled{ background:transparent; border:none; color:var(--accent); font-family:var(--font-mono); }*/

/* Compact layout for rente + select */
.label-select{ display:flex; align-items:center; gap:.5rem; }

.button-group{
    display:flex;
    gap:1rem;
    justify-content:space-between;
}
.button-group button[disabled]{
    cursor: default;
    opacity: 0.4;
}
.button-group button[disabled]:hover{
    filter: none;
}



