.generator{
    max-width:var(--max-width);
    width:clamp(320px, 60%, 950px);
    margin:3rem auto;
    padding:1.25rem;
    background: var(--glass);
    opacity: .98;
    border-radius:var(--radius);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
.config-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.config-container h2 {
    margin: 0;
    font-family: var(--font-sans);
    font-size: 1.4rem;
    color: var(--text-color);
}
.config-container .instruction-text {
    margin: 0;
    font-size: .9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}
.cb-container {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.cb-container .interval-input {
    width: 6rem;
    margin-left: 0.5rem;
    border: 1px solid var(--border);
    padding: .4rem .5rem;
}
.cb-container .interval-input::-webkit-outer-spin-button,
.cb-container .interval-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.columns-container p {
    font-size: 1rem;
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.select-columns-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 2rem;
}

.select-columns-header p {
    margin: 0;
}

.select-buttons {
    display: flex;
    gap: 1rem;
}

.select-btn {
    padding: 0.3rem 0.8rem;
    font-size: 0.85rem;
    font-family: var(--font-sans);
    background: var(--table-bg-header);
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: var(--font-sans);
}

.checkbox-group {
    /*display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;*/
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}
.checkbox-group label {
    /*flex: 0 1 calc(30% - 0.25rem);*/
    width: 100%;
    padding: 0.5rem 0.4rem;
    font-family: var(--font-sans);
    font-size: .8rem;
    color: #e4e4e4;
    border-radius: 4px;
    background: var(--card-bg);
}
.checkbox-group input {
    width: auto;
    margin: 0;
    accent-color: var(--accent);
}

/* Annual Report Table Styles */
.report-output {
    margin: 2rem 0 0 0;
}

.annual-report-table {
    font-family: var(--font-sans);
    width: 100%;
    position: relative;
    margin: 0;
    /*border-collapse: collapse;
    background:#fff;
    color:#222;
    font-size: 0.95rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);*/
    table-layout:fixed;
}

.annual-report-table thead {
    position:sticky; 
    top:var(--ht-top-header); 
    background:var(--table-bg-header) ; 
    color:#000000;
}
.annual-report-table th:first-child,
.annual-report-table td:first-child {
    width: 2.5rem;  /* Vaste breedte voor eerste kolom */
}
.annual-report-table th:nth-child(2),
.annual-report-table td:nth-child(2) {
    width: var(--second-col-width, auto);  /* Standaard auto, aangepast door JS */
}
.annual-report-table thead th {
    font-size:.9rem;
    padding: .55rem;
    font-weight: 600;
}
.annual-report-table tbody td {
    font-family: var(--font-mono);
    color: var(--table-color-row);
    font-size:.8rem; 
    padding:.35rem; 
}
.annual-report-table thead th, .annual-report-table tbody td {
    text-align:center; overflow:hidden; text-overflow:ellipsis; white-space:normal;
}

.annual-report-table tbody tr {
    background: var(--table-bg-row);
    border-bottom:1px solid #4d4d4d;
    transition: background-color 0.2s ease;
}

.annual-report-table tbody tr:hover {
    background-color: var(--table-tr-hover);
}

.annual-report-table td:first-child, .annual-report-table td:nth-child(2) {
    font-weight: 500;
    /*text-align: right;*/
    color: #8d8d8d;
}

/*.annual-report-table .currency-cell {
    color: var(--accent);
    font-family: var(--font-mono);
    font-size: 1rem;
    font-weight: bold;
}*/

.annual-report-table tbody tr:last-child {
    border-bottom: none;
}
