.calculator{
    max-width:var(--max-width);
    width:clamp(320px, 60%, 950px);
    margin:3rem auto;
    padding:1.25rem;
    background: var(--glass);
    opacity: .98;
    border-radius:var(--radius-wrapper);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
.overzicht {
    margin-bottom: 2rem;
    padding: 1rem;
    background: var(--card-bg);
    border-radius: var(--radius);
}
.overzicht-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
}
.overzicht-header h2 {
    color: var(--label-color);
}
.overzicht-header span {
    font-family: var(--font-mono);
    font-size: 0.9rem;
    color: var(--today-color);
}
.overzicht-inhoud {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: .5rem;
}
.overzicht-inhoud > * {
    flex: 1;
}
.overzicht-inhoud p {
    margin: 0;
    padding: .25rem 0;
}

.overzicht-inhoud p span:first-child {
    color: var(--label-color);
    margin: .5rem 0;
    font-size: 1rem;
}
.overzicht-inhoud p span:nth-child(2) {
    font-family: var(--font-mono);
    margin-left: 0.5rem;
    /*font-weight: bold;*/
    font-size: 1rem;
    color: var(--output-fields-color);
}
.overzicht-inhoud p span.duration-label {
    color: var(--output-fields-color);
}
/* Input sectie */
.input-sectie {
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    /*gap: .5rem;*/
}
.uitleg-sectie {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.uitleg-tekst {
    margin: 0;
    font-size: .9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text-color);
}
.datum-sectie {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 1rem;
}
.start-datum-sectie, .eind-datum-sectie {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.kies-datum {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    color: var(--text-color);
}

/* Output sectie */
.output-sectie {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--card-bg);
    border-radius: var(--radius);
    padding: 1rem;
}
.output-groep {
    display: flex;
    width: 100%;
}
.output-groep p{
    margin: 0;
}
.output-groep p span:first-child {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 0;
    color: var(--label-color);
}
.output-groep p span:nth-child(2) {
    font-family: var(--font-mono);
    font-size: 1rem;
    /*font-weight: bold;*/
    color: var(--output-fields-color);
    padding-left: 0.5rem;
}
.output-sectie-separator {
    border: none;
    border-top: 1px dashed var(--border);
    margin: 0;
}

