.simulator-wrapper {
    /*max-width:var(--max-width);*/
    width:clamp(320px, 60%, 1050px);
    margin:1rem auto;
    padding:1.5rem;
    background: var(--glass);
    border-radius:var(--radius-wrapper);
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    overflow: hidden;
}
.simulator-wrapper.hidden {
    display: none;
}
/*.simulator-wrapper.calculator-1,
.simulator-wrapper.calculator-2 {
    padding: 0;
}*/
.top-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 1.5rem;*/
}

/* bank name input */
.top-row input {
    padding: .3rem .5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid var(--border);
    font-family: var(--font-mono);
    color: #ffffff;
    background-color: var(--input-bg);
}

.top-row span {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
}
/* Buttons */
.import-export-buttons {
    
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.import-export-buttons button {
    min-width: 7.5rem;
    font-family: var(--font-mono);
    font-size: .9rem;
    padding: .35rem .8rem;
    background: var(--import-export-bg);
    border-top: 2px solid rgba(139, 139, 139, 0.5);
    border-left: 2px solid rgba(139, 139, 139, 0.5);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-radius:4px;
    color: var(--button-color);
    font-weight: bold;
    transition: background-color 0.3s, filter 0.3s;
}

.import-export-buttons button:hover { cursor: pointer; filter: brightness(0.9); }

/* Form section */
.input-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*gap: 2rem;*/
    min-width: 455px;
}
.main-section {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.left-section,
.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.overzicht.overzicht-simulator {
    column-count: 1;
    margin-bottom: 0;
    width: 100%;
}
.overzicht-inhoud.overzicht-inhoud-simulator {
    min-width: 365px;
    column-count: 1;
}
.header-row-output {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}
.header-row-inputs h2,
.output-fields h2,
.overzicht-header h2{
    font-family: 'cambria', serif;
    font-size: 1.3rem;
}
.header-row-inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
}
.header-row-inputs h2{
    color: var(--text-color);
    margin-bottom: .5rem;
}
.output-fields h2{
    color: var(--label-color);
}
.header-row-inputs span{
    font-family: var(--font-mono);
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--today-color);
}

.form-inhoud{
    /*border-top: 1px solid var(--border);*/
    padding-top:1rem;
    display:flex;
    flex-direction:column;
    gap:.5rem;
}
.output-fields{
    background: var(--card-bg);
   box-shadow: 0 0 15px rgba(155,155,155,0.3);
    padding:1rem;
    border-radius:var(--radius);
}
/*.card-light{ 
    background: transparent;
} 
.card-dark{ 
    background: var(--card-bg);
}*/
.info-box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px solid var(--border);
    padding-top: 1rem;
    border-radius:4px;
}
.info-box p{
    margin:0;
    font-size:1rem;
    color:var(--label-color);
}
.info-box .output-overview, .info-box .output-tab01{
    font-family: var(--font-mono);
    margin-left:0.5rem;
    font-size:1rem;
    /*font-weight: bold;*/
    color:var(--output-fields-color);
}

/* Form elements */
label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: var(--text-color);
    width: fit-content;
}
input , select{
    width: 10rem;
    font-family:var(--font-mono);
    font-size:1rem;
    padding:.3rem .5rem;
    border-radius:4px;
    border:1px solid var(--border);
    background-color: var(--input-bg);
    color:var(--input-color); 
    /*outline:none;*/
}
select, 
.rente-type, 
.periode-eenheid,
.currency-select { 
    font-size: 1rem;
    width: fit-content;
    appearance: none; /* Verwijder standaard pijl */
    background-image: var(--select-bg-image);
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: .8rem;
    padding-right: 2rem; /* Ruimte voor de pijl */
}

/* Opties in dropdown (ondersteuning kan verschillen per browser) */
select option {
    background-color: #e7e7e7; /* dropdown items achtergrond */
    color: #000000; 
}

.invoer {
    width: 8rem;
    margin-left: .5rem;
}
input[type="date"] {
    margin: 0;
    width: fit-content;
    accent-color: var(--calendar-accent);
    color: var(--input-color);
    background-color: var(--input-bg);
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 0.3rem 0.5rem;
    font-family: var(--font-mono);
    font-size: 1rem;
}

input:focus,
select:focus {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}
input[type="date"] {
    color-scheme: var(--calendar-accent);
}
.datums {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column  ;
    align-items: start;
    gap: .75rem;
}
.datums p{
    margin:0;
}
.datums p span:first-child{
    color: var(--text-color);
    font-size:1rem;
}
.datums p span:nth-child(2){
    font-weight: bold;
    padding: .3rem .5rem;
    border: 1px solid var(--accent);
    border-radius:4px;
    background: var(--input-bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--end-date-color);
    font-size: .8rem;
}
.eind-datum-hidden {
   visibility: hidden;
}   

/* Compact layout for rente + select */
.label-select { display:flex; align-items:center; gap:.5rem; }

.button-group {
    display:flex;
    gap:1rem;
    justify-content:space-between;
}
/*.button-group button[disabled]{
    cursor: default;
    opacity: 0.4;
}
.button-group button[disabled]:hover{
    filter: none;
}*/
.toggle-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width:clamp(320px, 60%, 1050px);
    margin:1rem auto;
}
.accented-btn.toggle-btn {
    padding: .8rem 1.5rem;
    font-size: 1.2rem;
    border-radius: var(--radius);
    width: 100%;
    text-align: center;
    border: none;
    background-color: var(--glass);
    /*color: var(--muted-text);*/
}
.accented-btn.toggle-btn.active {
    background-color: var(--accent);
    /*color: var(--button-color);*/
}
.accented-btn {
    width: fit-content;
    font-family: var(--mono-font);
    padding: .3rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
    border-top: 2px solid rgba(139, 139, 139, 0.5);
    border-left: 2px solid rgba(139, 139, 139, 0.5);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    background-color: rgb(214, 214, 214);
    background-color: var(--accent);
    color: var(--button-color);
    cursor: pointer;
    white-space: wrap;
    text-align: left;
    transition: background-color 0.3s, filter 0.3s;
}
.accented-btn:hover {
    /*background-color: var(--accent);*/
    filter: brightness(0.9);
}



